*{
margin: 0;
padding: 0;

}

.header{
     background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    color: #eee;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.links a{
    color: #eee;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover{
    color: #3882F6;
    text-decoration: none;
    font-size: 20px;
}

.logo{
font-size: 24px;
font-weight: bold;
}



.first-section{
    background-color: #1F2937;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 3rem;
 align-items: center;
    justify-content: center;
    
}

.section-right{
    margin: 1rem;
    position: relative;
    width: 60%;

    display: flex;
    justify-content: center;
}

.section-right img{
    width: 600px;
    height: 300px;
    padding:12px;
    
}

.section-left{
    margin: 1rem;
    width: 40%;
  
    display: flex;
    flex-direction: column; 
    padding: 15px;
    color: #eee;
}

.section-left h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0.1rem;
}

.section-left p{
    width: 25rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;  
    font-size: 18px;
    color: #E5E7EB;
    

}
.section-left button{
   width: 8rem;
   padding: 0.7rem;
    margin-bottom: 2rem;  
    font-size: 18px;
    background-color:#3882F6;
    color: #eee;
    border-radius: 10px;
    border: none;
    

}