@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@0,100;1,900&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Outfit', sans-serif;

}

/* Header */

.header{
     background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    color: #eee;
}

.logo{
font-size: 24px;
font-weight: bold;
margin-left: 2rem;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 2.5rem;
}

.links a{
    color: #eee;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover{
    color: #3882F6;
    text-decoration: none;
    font-size: 20px;
}


/* first Section */

.first-section{
    background-color: #1F2937;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center;
    
}

.section-right{
    margin: 1rem;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
}

.section-right img{
    width: 37.5rem;
    height: 18.75rem;
    padding: 0.75rem;
    
}

.section-left{
    margin-left: 3rem;
    width: 40%;
    display: flex;
    flex-direction: column; 
    padding: 15px;
    color: #eee;
}
.section-left h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0.1rem;
}

.section-left p{
    width: 25rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;  
    font-size: 18px;
    color: #ccced0;
    

}
.section-left button{
   width: 8rem;
   padding: 0.5rem;
    margin-bottom: 2rem;  
    font-size: 18px;
    background-color:#3882F6;
    color: #eee;
    border-radius: 10px;
    border: none;
}


/* Second Section*/


.second-section h2{
text-align: center;
margin: 2rem;
font-size:36px;
font-weight: bolder;
color: #1F2937;

}

.cards-container{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    

}
.card-content{
    
    height: 200px;
    width: 200px;
    border-radius: 20px;
    position: relative;
}

.card-content img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: #3882F6 solid 3px;
}

.card p{
margin-top: 1rem;    
width: 180px;
text-align: center;
   
}

/* Third Section */

.third-section{
    background-color: #E5E7EB;
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    
}

.third-section div{
    width: 800px;
    font-size: 36px;
  font-weight: 100;
    font-style: italic;
    color: #1F2937;
    
}

.sign{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    margin-left: 20rem;
  
  
   
}

/* Fourth Section */